* {
	padding: 0;
	margin: 0;
}

/*html {overflow-y:scroll;}*/
html, body {
    /*height: 100%;*/
    /*width: 100%;*/
}

body {

	/*background: #f5f6f6;*/
	/*background-color: #0067BF;*/
	background-color: white;

	/*background-repeat: no-repeat;*/
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
	/*background-color: #29354B;*/
	/*background-color: #eaedea;*/
	/*background-color: #ECEFF1;*/

    font-family: 'Avenir-Book', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
    
/*    font-family: "Comic Sans MS";
    font-family: "Trebuchet MS";
    font-family: Helvetica;
    font-family: "Times New Roman", Times, serif;*/
}

#app {
	position: relative;
}

#main {
	/*position: relative;*/
	/*height: 100%;*/
	/*width: 100%;*/
	margin-top: 75px;
	/*overflow: hidden;*/
	/*box-sizing: border-box;*/
}

.noscroll {
	overflow: hidden;
/*	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(1px);*/
}

.hidden {
	display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
	width: 100%;
    z-index: 10000;
    overflow-y: scroll;

    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
	opacity: 0;

	background-color: rgba(239,239,239,0.96);

	/*background: rgba(245, 246, 246, 0.95);*/
	/*background: rgba(50, 50, 50, 0.95);*/
	/*background-color: #29354B;*/
	/*background-color: white;*/
}

#overlay-content {
	padding-top: 70px;
	/*background: rgba(255, 255, 255, 0.95);*/
	/*min-height: 100%;*/
	/*box-sizing: border-box;*/
	
	/*overflow-y: scroll;*/
}

#overlay-background {
/*	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;*/
	height: 100%;
	width: 100%;
	filter:alpha(opacity=0.85);
    -moz-opacity:.85;
    -khtml-opacity: .85;
    opacity: .85;
    background-color: #a9a9a9;
}

#overlay-exit {
	position: absolute;
	top: 15px;
	right: 30px;
	font-size: 30px;
	font-weight: bolder;
	color: #888;
	cursor: pointer;
	transition: 0.2s;
}

#overlay-exit:hover {
	-ms-transform: scale(1.5,1.5); /* IE 9 */
	-webkit-transform: scale(1.5,1.5); /* Chrome, Safari, Opera */
	transform: scale(1.5,1.5);
}

#inner {
	position: static;
}

.container {
	/*height: 400px;*/
	/*overflow: auto;*/
}

.stamp-banner {
	height: 150px;
	width: 480px;
	background-color: lightgreen;
	margin-bottom: 20px;
	color: white;
	text-align: center;
	padding: 20px;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}





