

<div class="pollpage-container">
	
	<!-- Asker's Bear -->

	<div class="pollpage-bear">
		<!-- Put placeholder bear sillouette -->
	</div>

	<!-- Expanded Poll -->

	<div class="pollpage-section pollpage-section--poll">
		<!-- <h2>Question</h2> -->
		<div class="pollpage-section-content hidden"></div>
		<div class="pollpage-section-loading"></div>
	</div>

	<!-- Poll Data Graphs -->

	<div class="pollpage-section pollpage-section--graphs hidden">
		<h2>Graphs</h2>
		<canvas id="DemographicChart" width="900" height="250"></canvas>
		<div class="pollpage-section-content hidden"></div>
		<div class="pollpage-section-loading "></div>
	</div>

	<!-- Poll Choice Reasonings -->

	<div class="pollpage-section pollpage-section--reasonings hidden">
		<h2>Reasonings</h2>
		<div class="pollpage-section-content hidden"></div>
		<div class="pollpage-section-loading"></div>
	</div>

	<!-- Poll Comments -->

	<div class="pollpage-section pollpage-section--comments hidden">
		<h2>Comments</h2>
		<div class="pollpage-section-content hidden"></div>
		<div class="pollpage-section-loading"></div>
	</div>

	<div class="pollpage-section pollpage-section--footer"></div>

</div>

