<div class="poll-form-choice">
	<!-- <div class="poll-form-choice-container-1"> -->
	<textarea class="choiceTextInput" name="choiceText" placeholder="Choice text here..."></textarea>
	<!-- </div> -->

	<div class='textarea-char-count choiceTextCount' data-error=true data-max-char=80>0 / 80</div>

	<div class="poll-form-choice-container">
		<button class="removeChoiceInputButton" type="button">X</button>
	</div>
</div>