
<!-- <form name="poll-form" novalidate> -->
	<div class="create-section-poll">
	
		<div class="create-section-question">  
			<textarea id="questionTextInput" name="questionText" placeholder="Question text here..." autofocus></textarea>
			<div class='textarea-char-count' data-error=true data-max-char=100>0 / 100</div>
		</div>

		<div class="create-section-choices">
			<div class="create-choices">
				
			</div>
	        <button id='addChoiceInputButton' type="button">+ New Choice</button>  
		</div>

	</div>








	</br>

	<div class="create-section-category">

		<div class="create-section-category-header">
			<h3>Select Category</h3>
		</div>

		<div class="create-section-category-grid">
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>		
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>		
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>		
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>		
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>		
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>		
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>		
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>		
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>		
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>		
			<div class="create-section-category-block" data-category="Politics">
				<i class="material-icons">share</i>
				<span>Politics</span>	
			</div>							
		</div>


		
		
<!-- 		<div class="form-group">
            <label>Select Category</label>
            <select type="text" name="categorySelect" class="form-control" required>
                <option value="0">Business</option>
                <option value="1">Entertainment</option>
  				<option value="2">Fashion</option>
  				<option value="3">Food</option>
  				<option value="4">Funny</option>
  				<option value="5">Games</option>
  				<option value="6">Health</option>
  				<option value="7">Lifestyle</option>
  				<option value="8">Music</option>
  				<option value="9">Politics</option>
  				<option value="10">Science</option>
  				<option value="11">Social</option>
  				<option value="12">Sports</option>
  				<option value="13">Technology</option>
  				<option value="14">Travel</option>
  				<option value="15">Miscellaneous</option>
            </select>
    	</div>    --> 

	</div>
    
	</br>

    <button id="submitPollButton" disabled>CREATE</button>
    
<!-- </form> -->

