<!-- Centered grid of categories -->

		<div class="category-grid-element category-Music--overlay">
			<a href="/category/politics">
			<div class="iconContainer">
				<i class="material-icons md-36">poll</i>
			</div>
			<div class="textContainer">
				<h3 align="center">Politics</h3>
			</div>
			</a>
		</div>

		<div class="category-grid-element category-Social--overlay">
			<a href="">
				<!-- centered icon goes here -->
				<i class="material-icons md-36">poll</i>
			</a>
			<h3>category</h3>
		</div>
		<div class="category-grid-element category-Funny--overlay">
			<a href="">
				<!-- centered icon goes here -->
				<i class="material-icons md-36">poll</i>
			</a>
			<h3>category</h3>
		</div>
		<div class="category-grid-element category-Sports--overlay">
			<a href="">
				<!-- centered icon goes here -->
				<i class="material-icons md-36">poll</i>
			</a>
			<h3>category</h3>
		</div>
		<div class="category-grid-element category-Food--overlay">
			<a href="">
				<!-- centered icon goes here -->
				<i class="material-icons md-36">poll</i>
			</a>
			<h3>category</h3>
		</div>
		<div class="category-grid-element">
			<a href="">
				<!-- centered icon goes here -->
				<i class="material-icons md-36">poll</i>
			</a>
			<h3>category</h3>
		</div>
		<div class="category-grid-element">
			<a href="">
				<!-- centered icon goes here -->
				<i class="material-icons md-36">poll</i>
			</a>
			<h3>category</h3>
		</div>	
		<div class="category-grid-element">
			<a href="">
				<!-- centered icon goes here -->
				<i class="material-icons md-36">poll</i>
			</a>
			<h3>category</h3>
		</div>
		<div class="category-grid-element">
			<a href="">
				<!-- centered icon goes here -->
				<i class="material-icons md-36">poll</i>
			</a>
			<h3>category</h3>
		</div>
		<div class="category-grid-element">
			<a href="">
				<!-- centered icon goes here -->
				<i class="material-icons md-36">poll</i>
			</a>
			<h3>category</h3>
		</div>
		<div class="category-grid-element">
			<a href="">
				<!-- centered icon goes here -->
				<i class="material-icons md-36">poll</i>
			</a>
			<h3>category</h3>
		</div>	
		<div class="category-grid-element">
			<a href="">
				<!-- centered icon goes here -->
				<i class="material-icons md-36">poll</i>
			</a>
			<h3>category</h3>
		</div>
		<div class="category-grid-element">
			<a href="">
				<!-- centered icon goes here -->
				<i class="material-icons md-36">poll</i>
			</a>
			<h3>category</h3>
		</div>
		<div class="category-grid-element">
			<a href="">
				<!-- centered icon goes here -->
				<i class="material-icons md-36">poll</i>
			</a>
			<h3>category</h3>
		</div>
		<div class="category-grid-element">
			<a href="">
				<!-- centered icon goes here -->
				<i class="material-icons md-36">poll</i>
			</a>
			<h3>category</h3>
		</div>	


