<div id="grid-container">
    <div id="masonry-grid">
<!--         <div class="stamp-banner"><span class="pollapoints-number">10495</span> <span class="pollapoints-text">pollapoints</span></div> -->
    </div>
</div>

<!-- <div id="sidebar">
    <div class="sidebar-pollabear">
       <img class= "user-pollabear" src="http://i.istockimg.com/file_thumbview_approve/56146906/3/stock-illustration-56146906-comic-cartoon-little-polar-bear.jpg"> 
    </div>
    <div class="sidebar-pollapoints">
        <span class="pollapoints-number">5600</span><span class="pollapoints-text">pollapoints</span>
    </div>
    <div class="sidebar-more">
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
        <div class="sidebar-more-element"></div>
    </div>
</div> -->