#home-container {
	/*position: relative;*/
	/*height: 100%;*/
	/*width: 100%;*/
}

#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	/*height: 100%;*/
	width: 220px;
	margin-top: 57px;
	background-color: white;

	border-right-width: 1px;
	border-right-style: solid; 
	border-right-color: #ebebeb; 
	overflow: hidden;

}

.sidebar-pollabear {
	height: 170px; 
	width: 170px;
	padding: 25px;
	background-color: #f8fafa;
}

.sidebar-pollapoints {
	height: 60px; 
	width: 220px;
	background-color: #f8fafa;
	color: #484a4a;
	text-align: center;

/*	border-top-width: 1px;
	border-top-style: solid; 
	border-top-color: #ebebeb;*/ 
	/*background-color: #f8fafa;*/
}

.user-pollabear {
	width: 170px;
	height: 170px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 200px;
}

.sidebar-more {
	display: none;
	position: absolute;
	top: 330px;
	/*height: 100px;*/
	bottom: 0;
	width: 220px;
	border-top-width: 1px;
	border-top-style: solid; 
	border-top-color: #ebebeb; 
	overflow-x: hidden; 
	overflow-y: scroll; 
}

.sidebar-more-element {
	margin: 10px;
	height: 50px;
	width: 200px;
	background-color: #f8fafa;
}

.pollapoints-text {
	font-size: 15px;
}

.pollapoints-number {
	font-size: 40px;
	letter-spacing: 10px;
}
